#banner .single-item {margin-bottom: 0;}
#banner .slick-dots { bottom: 5px; }
.single-item .slick-prev { left: 20px; z-index: 1; }
.single-item .slick-next { right: 20px; }
.single-item .slick-list { border-radius: 5px; }
.slick-slide img { margin: 0 auto;    width: 100%; }
.single-item .slick-prev:before, .single-item .slick-next:before { color:  #06207A; font-size: 25px;}
.slick-dots {bottom: 10px;}
.slick-dots li button { padding: 0; }
.slick-dots li button:before { font-size: 14px; color: #06207A;width: auto; height: auto;opacity: 1;}
.slick-dots li.slick-active button:before { color:orange; }

.text-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(255,255,255, 0.75);
  padding: 10px 20px 25px;
}
@media only screen and (min-width:991px) {
  .slick-slide img { width: unset; }
}

.product-slider .slick-prev { z-index: 9; left: 0;}
.product-slider .slick-next { z-index: 9; right: 0;}
.product-slider .slick-prev:before, 
.product-slider .slick-next:before {
  font-size: 28px;
  color: #06207A;
  opacity: 1;
}
.product-slider .slick-prev.slick-disabled:before, 
.product-slider .slick-next.slick-disabled:before {
  opacity: 0.25;
}

@media only screen and (min-width: 1280px) {
  .product-slider .slick-prev { left: -25px;}
  .product-slider .slick-next { right: -25px; }
}