footer {
  padding: 30px 0 0;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-container .logo {
  margin-bottom: 20px;
  display: block;
}
.footer-container h3 {
  padding: 20px 0 10px;
}
.column {
  border-bottom: 2px solid #000;
  padding-bottom: 20px;
}
.column:last-child {
  border: 0;
}
.column-1 ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.column-1 ul li:nth-child(3) {
  align-items: flex-start;
  margin-bottom: 20px;
}
.column-1 ul li a > img {
  width: 25px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.column.column-1, .column.column-2, .column.column-3 { width: 100%; }

.column-3 iframe {
  width: 100%;
  border: 0;
  height: 45px;  
}
.column-3 iframe ._51mw {
  display: none;
}
.social-links {
  display: flex;
}
.rera {
  padding: 10px 0;
  text-align: center;
}
.reviews {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.reviews li {
  margin-bottom: 10px;
  width: 100%;
}
.reviews li img {
  width: 30px;
}
.reviews li .google {
  width: 150px;
}
.reviews li .wa {
  width: 200px;
}
.reviews #facebook   ._51mw {
  display: none;
}

@media only screen and (min-width:768px) {
  .footer-container {
    flex-direction: row;
  }
  .column {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
  .column.column-1,.column.column-2,.column.column-3 { width: 25%; }
  .footer-container h3 {
    padding: 10px 0 40px;
  }  
}

@media only screen and (min-width:1024px) {
  /* .column.column-1,.column.column-2,.column.column-3 { width: 33.33%; } */
  .column.column-1 {
    max-width: 300px;
    width: 100%;
}
.column.column-2 {
  max-width: 250px;
  width: 100%;
}
.column.column-3 {
  max-width: 430px;
  width: 100%;
}
.reviews li {    
  width: 50%;
}
}
@media only screen and (min-width:1280px) {
  /* .column-1,.column-2,.column-3 { width: 33.33%; } */
}
@media only screen and (min-width:1200px) {
    .rera {
      margin-bottom: 0;    
    }
}

.column-1 ul li a.connect > img {
  width: 150px;
}